".source.php":
    "CSite.Add":
        "prefix": "csiteadd"
        "body": """
        $arFields = Array(
          "LID"              => "ru",
          "ACTIVE"           => "Y",
          "DEF"              => "N",
          "NAME"             => "${1:sitename}",
          "DIR"              => "${2:sitedir}",
          "FORMAT_DATE"      => "DD.MM.YYYY",
          "FORMAT_DATETIME"  => "DD.MM.YYYY HH:MI:SS",
          "CHARSET"          => "${3:sitecharset}",
          "EMAIL"            => "${4:siteemail}",
          "LANGUAGE_ID"      => "${5:sitelang}",
          "DOC_ROOT"         => ""
        );
        $rsSite = new CSite;
        $rsSite->Add($arFields);
        if (strlen($rsSite->LAST_ERROR)>0) $strError .= $rsSite->LAST_ERROR;
        """
    "CSite.Delete":
        "prefix": "csitedelete"
        "body": """
        if(CSite::Delete('${1:siteLID}') === false)
            echo "Can't Delete site...";
        """
    "CSite.GetByID":
        "prefix": "csitegetbyid"
        "body": """
        $arSite = CSite::GetByID('${1:siteLID}')->fetch();
        if(is_array($arSite))
            var_export($arSite);
        """
    "Csite.Update":
        "prefix": "csiteupdate"
        "body": """
        $arFields = array(
            'EMAIL' => '${1:siteemail}',
            'NAME'  => '${2:sitename}',
            ...
        );
        $rsSite = new CSite;
        $rsSite->Update('${3:siteLID}', $arFields);
        if (strlen($rsSite->LAST_ERROR)>0) $strError .= $rsSite->LAST_ERROR;
        """
