".source.php":
    "D7Config":
        "prefix": "d7config"
        "body": """
        //get from /bitrix/.settings.php
        $realm = \\\\Bitrix\\\\Main\\\\Config\\\\Configuration::getValue("${1:param}");
        if (is_null($realm))
            $realm = "Bitrix Site Manager"
        """
