".source.php":
    "D7Group.getList":
        "prefix": "d7grouplist"
        "body": """
        $arGroups = \\\\Bitrix\\\\Main\\\\GroupTable::getList(array(
            'select' => array('NAME'),
            'filter' => array('ID' => '${1:id}')
        ))->fetch();
        foreach($arGroups as $arGroup)
            var_export($arGroup);
        """
